<ion-header>
  <ion-toolbar>
    <ion-title>QR Code Poster</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="print()">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="qrResourceList && qrResourceList.length > 0">
    <ion-row *ngFor="let qrResource of qrResourceList; let i = index">
      <ion-col size="12">
        <img class="qrImage" [src]="qrResource?.qrImage">
        <ion-label>
          <h2>{{qrResource?.name}}</h2>
          <h3>{{qrResource?.description}}</h3>
          <p>{{qrResource?.publishedDate}}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>