<ion-header>
  <ion-toolbar>
    <ion-title>QR Code Poster</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissTapped()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="renderPDFTapped()">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <h2>Links to useful resources</h2>
  </ion-label>
  <ion-list *ngIf="qrResourceList && qrResourceList.length > 0">
    <ion-item *ngFor="let qrResource of qrResourceList; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="qrResource?.qrImage">
      </ion-thumbnail>
      <ion-label>
        <h2>{{qrResource?.name}}</h2>
        <h3>{{qrResource?.description}}</h3>
        <p>{{qrResource?.publishedDate | date :'mediumDate'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>