<ion-header>
  <ion-toolbar>
    <ion-title>
      QuikRead
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="main-content">
    <ion-card-header>
      <ion-card-title>Your Resources</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        Build a printable page of QR code links to resources for use in a clinical setting. QuikRead lets you give the
        patient an easy way to get to anything online using their own smartphone.
        Add links to videos, images, documents or anything else to your list below. You can add as many different links
        as you need— printing up to six per A4 page. To add your first link, press the `Add Link` button.
      </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" fill="outline" (click)="displayAddNewQRResourceModal()">
              <ion-icon slot="start" name="add"></ion-icon>
              Add Link
            </ion-button>
          </ion-col>
          <ion-col size=" 6">
            <ion-button expand="block" fill="solid" (click)="displayOutputPageModal()">
              <ion-icon slot="start" name="share-alt"></ion-icon>
              Create Page
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-label id="noResources" *ngIf="!qrResourceList || qrResourceList.length == 0">
        You don't have any QR Resources
      </ion-label>
      <ion-list *ngIf="qrResourceList && qrResourceList.length > 0">
        <ion-item-sliding *ngFor="let qrResource of qrResourceList; let i = index">
          <ion-item>
            <ion-thumbnail slot="start">
              <img [src]="qrResource?.qrImage">
            </ion-thumbnail>
            <ion-label>
              <h2>{{qrResource?.name}}</h2>
              <h3>{{qrResource?.description}}</h3>
              <p>{{qrResource?.publishedDate | date :'mediumDate'}}</p>
            </ion-label>
            <ion-icon slot="end" name="trash" (click)="removeQRResource(i)"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeQRResource(i)">Remove</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>